 [data-title] {
    font-size: 18px;
    position: relative;
    cursor: help;
}

[data-title]:before,
[data-title]:after {
    display: none;
    position: absolute;
    top: 0;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -46px;
    padding: 10px;
    background: #000;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}
[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 8px;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
    white-space: pre-wrap;
    width: 100px;
}

[data-title]:hover:after,
[data-title]:hover:before {
    display: block;
}


tr.shown, tr.hidden {
    background-color: #eee;
    display: table-row;
}

tr.hidden {
    display: none;
}

tr.shown{
    display: block;
}

.background-btn{
    background: url("../img/magnifier.png") no-repeat;
    height: 30px;
    width: 30px;
}

.background-btn:hover{
    background: #dedcd9;
}

