.card-content {
    max-height: 220px;  /* approx height for 10 lines, adjust if necessary */
    overflow-y: auto;
}

.productInRack:hover{
    background-color: #f0f2f0;
}

.card-content-details{
    justify-content: center;
    max-height: 350px;
    overflow-y: auto;
}