<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Return Admin panel</title>
  <th:block th:replace="~{fragments/common::head}"></th:block>
</head>
<body>
<div class="banner">
  <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>
<th:block th:replace="~{fragments/common::footer}"></th:block>
</body>
</html>