<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Admin panel</title>
    <th:block th:replace="~{fragments/common::head}"></th:block>
</head>
<body>
<div>
    <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>


<div class="d-lg-flex justify-content-center pt-5 mt-4">
    <form action="" method="post" enctype="multipart/form-data"
          class="bg-danger form-container rounded border m-5 p-5">
        <h1 class="text-light border-bottom mt-2 text-center">Import your file</h1>
        <div class="form-group mx-sm-3 mb-2">
            <div class="col">
                <input name="fileUpload" id="fileUpload" type="file" class="form-control mt-4">

                <div style="margin-left: 30%">
                    <button type="submit" class="btn btn-light mt-3" >IMPORT FILE</button>
                </div>

            </div>
            <small id="fileUploadError" class="bg-danger text-light rounded justify-content-center d-flex mt-2">
                No files imported
            </small>
        </div>

    </form>
</div>
<th:block th:replace="~{fragments/common::footer}"></th:block>
</body>
</html>