<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrap Products</title>
  <link rel="stylesheet" href="/css/products.css">
  <th:block th:replace="~{fragments/common::head}"></th:block>
</head>
<body>
<div>
  <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>

<div class="m-5 text-center text-danger">
  <h1>Products for Sale</h1>
</div>

<div class="productTableDiv">

  <table id="productsTable" class="table table-striped table-bordered table-sm cell">
    <thead>
    <tr>
      <th>ID</th>
      <th>Return Item Id</th>
      <th>ASIN</th>
      <th>Category</th>
      <th>Product Condition</th>
      <th>Currency Code</th>
      <th>Department</th>
      <th>Product Description</th>
      <th>EAN</th>
      <th>LPN</th>
      <th>Pallet ID</th>
      <th>quantity</th>
      <th>Sub Category</th>
      <th>Total Retail</th>
      <th>Rack Position</th>


    </tr>
    </thead>
    <tbody id="productTableBody">
    <div th:each="p: ${saleProducts}">
      <tr>

        <th th:text="${p.id}">ID</th>
        <th th:text="${p.returnItemId}">Return Item Id</th>
        <th th:text="${p.asin}">ASIN</th>
        <th th:text="${p.category}">Category</th>
        <th th:text="${p.condition}">Product Condition</th>
        <th th:text="${p.currencyCode}">Currency Code</th>
        <th th:text="${p.department}">Department</th>
        <th th:text="${p.shortenDescription}">Product Description</th>
        <th th:text="${p.ean}">EAN</th>
        <th th:text="${p.lpn}">LPN</th>
        <th th:text="${p.palletId}">Pallet ID</th>
        <th th:text="${p.quantity}">quantity</th>
        <th th:text="${p.subCategory}">Sub Category</th>
        <th th:text="${p.totalRetail}">Total Retail</th>
        <th th:text="|${p.rackName}:${p.rackNumber}|">Rack Position</th>

      </tr>

    </div>

    </tbody>
  </table>
</div>

<th:block th:replace="~{fragments/common::footer}"></th:block>
<script th:src="@{/js/productTable.js}"></script>
</body>
</html>