<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/products.css">
    <th:block th:replace="~{fragments/common::head}"></th:block>
</head>
<body>
<div>
    <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>

<div class="container">
    <h2 class="text-center text-danger m-2">Search for products</h2>
    <form
            th:method="GET"
            th:action="@{/products/search}"
            th:object="${productBinding}"
            class="form-inline" style="justify-content: center; margin-top: 50px; margin-bottom: 10px">

        <div style="position: relative">

            <input
                    th:field="*{returnItemId}"
                    name="returnItemId"
                    class="form-control mr-sm-2" style="width: 120px;"
                    type="search"
                    placeholder="Return Id..."
                    aria-label="Search"
                    id="returnItemId">

            <input
                    th:field="*{asin}"
                    name="asin"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="ASIN..."
                    aria-label="Search"
                    id="asin">

            <input
                    th:field="*{category}"
                    name="category"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="Category..."
                    aria-label="Search"
                    id="category">

            <input
                    th:field="*{condition}"
                    name="condition"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="Condition..."
                    aria-label="Search"
                    id="condition">

            <input
                    th:field="*{department}"
                    name="department"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="Department..."
                    aria-label="Search"
                    id="department">

            <input
                    th:field="*{ean}"
                    name="ean"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="EAN..."
                    aria-label="Search"
                    id="ean">

            <input
                    th:field="*{lpn}"
                    name="lpn"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="LPN..."
                    aria-label="Search"
                    id="lpn">

            <input
                    th:field="*{palletId}"
                    name="palletId"
                    class="form-control mr-sm-2"
                    style="width: 120px;"
                    type="search"
                    placeholder="Pallet Id..."
                    aria-label="Search"
                    id="palletId">

            <small
                    id="searchOfferHelpInline"
                    class="bg-danger text-light rounded invalid-feedback"
                    style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;"
            >
                No search criteria chosen.
            </small>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div>
    <!--    Тук е за намерени продукти ! Но тъй като не намира никакви не работи :) -->
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr th:each="p: ${productsFound}">
            <th th:text="${p.id}">ID</th>
            <th th:text="${p.returnItemId}">Return Item Id</th>
            <th th:text="${p.asin}">ASIN</th>
            <th th:text="${p.category}">Category</th>
            <th th:text="${p.condition}">Product Condition</th>
            <th th:text="${p.currencyCode}">Currency Code</th>
            <th th:text="${p.department}">Department</th>
            <th th:text="${p.description}">Product Description</th>
            <th th:text="${p.ean}">EAN</th>
            <th th:text="${p.lpn}">LPN</th>
            <th th:text="${p.palletId}">Pallet ID</th>
            <th th:text="${p.quantity}">quantity</th>
            <th th:text="${p.subCategory}">Sub Category</th>
            <th th:text="${p.totalRetail}">Total Retail</th>

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="productTableDiv">

    <table id="productsTable" class="table table-striped table-bordered table-sm cell">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Return Item Id</th>
            <th>ASIN</th>
            <th>Category</th>
            <th>Product Condition</th>
            <th>Currency Code</th>
            <th>Department</th>
            <th>Product Description</th>
            <th>EAN</th>
            <th>LPN</th>
            <th>Pallet ID</th>
            <th>quantity</th>
            <th>Sub Category</th>
            <th>Total Retail</th>


        </tr>
        </thead>
        <tbody id="productTableBody">
        <div th:each="p: ${allProducts}">
            <tr>
                <th>
                    <button type="button" class="btn background-btn" th:id="${p.id}"
                            th:attr="onclick=|toggle(this.id, '#optionsRow' + ${p.id})|" aria-expanded="false"
                            aria-controls="toggleID" aria-label="3 more from" aria-labelledby="btnMSb lblMSb">

                    </button>
                </th>
                <th th:text="${p.id}">ID</th>
                <th th:text="${p.returnItemId}">Return Item Id</th>
                <th th:text="${p.asin}">ASIN</th>
                <th th:text="${p.category}">Category</th>
                <th th:text="${p.condition}">Product Condition</th>
                <th th:text="${p.currencyCode}">Currency Code</th>
                <th th:text="${p.department}">Department</th>
                <th th:text="${p.shortenDescription}">Product Description</th>
                <th th:text="${p.ean}">EAN</th>
                <th th:text="${p.lpn}">LPN</th>
                <th th:text="${p.palletId}">Pallet ID</th>
                <th th:text="${p.quantity}">quantity</th>
                <th th:text="${p.subCategory}">Sub Category</th>
                <th th:text="${p.totalRetail}">Total Retail</th>

            </tr>
            <tr th:id="'optionsRow' + ${p.id}" class="hidden">
                <th>
                    <a type="button"
                       th:id="'deleteBtn' + ${p.id}"
                       class="btn btn-danger"
                       th:href="@{/products/delete/{id}(id = *{p.id})}">DELETE</a>

                </th>
                <th></th>
                <th>
                    <a type="button"
                       th:id="'editBtn' + ${p.id}"
                       class="btn btn-danger"
                       th:href="@{/products/edit/{id}(id = *{p.id})}">EDIT</a>
                </th>
                <th></th>
                <th>
                    <a type="button"
                       th:id="'moveBtn' + ${p.id}"
                       class="btn btn-danger"
                       th:href="@{/products/move/{id}(id = *{p.id})}">MOVE</a>
                </th>
            </tr>
        </div>

        </tbody>
    </table>
</div>

<th:block th:replace="~{fragments/common::footer}"></th:block>
<script th:src="@{/js/productTable.js}"></script>
</body>
</html>